footer{
  padding: 1.2em 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--dark-red);
  color: var(--white);
  border-bottom: 3px solid var(--light-red);
}

footer a{
  text-decoration: none;
  color: var(--white);
  font-size: 2em;
  font-family: var(--font-logo);
  margin-bottom: 10px;
}
footer a:hover{
  color: var(--white);
}

@media screen and (max-width: 900px) {
  footer{
    padding: 1em 1.3em;
    flex-direction: column;
  }
  
}