.carousel{
  height: 100vh;
  width: 100vw;
}

.carousel-inner{
  position: relative;
}

.carousel-inner::after{
  content:'';
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.5);
}


img{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.hero{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../Assets/hero.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container{
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.text-container h1{
  font-family: var(--font-logo);
  font-size: 9em;
  color: var(--white);
}
.text-container h1 span{
  color: var(--dark-red);
}

.text-container h4{
  color: var(--white);
  font-size: 1.5em;
}